body {
    background-color: #f0f0f0;
}

a {
    cursor: pointer;
}

.icon {
    width:30px; 
    height:30px;
    position: relative;
}

.txt {
    background-color:red;
    font-size: 12px;
    position: absolute;
    padding: 2px;
    top: -3px;
    left: -3px;
    border-radius: 25px;
    color: white;
}

li {
    list-style-type: none;
}

.paginate_bar {
    margin: auto;
    width: 75%;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
 }
    
.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
    
.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

input.radioBtn {
    width: 30px;
    height: 30px;
}

.checkboxes label {
    display: block;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
  }

  .checkboxes input {
    vertical-align: middle;
  }

  .checkboxes label span {
    vertical-align: middle;
  }